# Ignore frontend node_modules
frontend/vrvsecurity/node_modules/

# Ignore Python bytecode files
*.pyc
__pycache__

# Ignore SQLite database
db.sqlite3

# Ignore Django migrations
*/migrations/

# Ignore environment files
*.env

# Ignore logs
*.log
